<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>Used_Trade</display-name>
<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- 한글설정 필터추가 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.apache.catalina.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
</filter-mapping>


<servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Loginprocess</url-pattern>
</servlet-mapping>


<resource-ref>
    <description>Database Connection</description>
    <res-ref-name>jdbc/pool</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
</resource-ref>
<servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Loginprocess</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>controller.AddProductController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/AddProductController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>EditProductController</servlet-name>
    <servlet-class>controller.EditProductController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>EditProductController</servlet-name>
    <url-pattern>/EditProductController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SearchProductController</servlet-name>
    <servlet-class>controller.SearchProductController</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SearchProductController</servlet-name>
    <url-pattern>/SearchProductController</url-pattern>
</servlet-mapping>
<servlet>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>controller.DeleteProductController</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/DeleteProductController</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>CheckEmailServlet.java</servlet-name>
    <servlet-class>controller.CheckEmailServlet.java</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>CheckEmailServlet.java</servlet-name>
    <url-pattern>/CheckEmailServlet.java</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>WishlistController.java</servlet-name>
    <servlet-class>controller.WishlistController.java</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>WishlistController.java</servlet-name>
    <url-pattern>/WishlistController.java</url-pattern>
</servlet-mapping>

<servlet>
    <servlet-name>SaveLocationController.java</servlet-name>
    <servlet-class>controller.SeveLocationController.java</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>SaveLocationController.java</servlet-name>
    <url-pattern>/SaveLocationController.java</url-pattern>
</servlet-mapping>



   <servlet>
        <servlet-name>CustomerController</servlet-name>  <!-- 서블릿 이름 -->
        <servlet-class>controller.CustomerController</servlet-class>  <!-- 서블릿 클래스 -->
    </servlet>

    <!-- 서블릿 매핑 -->
    <servlet-mapping>
        <servlet-name>CustomerController</servlet-name>  <!-- 위에서 정의한 서블릿 이름 -->
        <url-pattern>/CustomerController</url-pattern>  <!-- 사용자 요청 URL 패턴 -->
    </servlet-mapping>


</web-app>